@font-face {
  font-family: 'officina';
  src:  url('fonts/officina.eot?99hb9w');
  src:  url('fonts/officina.eot?99hb9w#iefix') format('embedded-opentype'),
    url('fonts/officina.ttf?99hb9w') format('truetype'),
    url('fonts/officina.woff?99hb9w') format('woff'),
    url('fonts/officina.svg?99hb9w#officina') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="o-"], [class*=" o-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'officina' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o-icon:before {
  content: "\e900";
}
i.o-icon {
    color: #fff;
}
